<p>navbar works!</p>

<mat-toolbar color="primary" class="navbar">
    <div class="logo-section">
        <img src="/image.png" alt="Greentools Logo" class="logo">


      <span class="greeting">Good Day ! Carlos</span>
      <!--<span class="greeting">Good Day ! Carlos</span>-->
      <!--implementar el consumo de el name del usuario-->
    </div>
  
    <span class="spacer"></span>
  
    <!-- Botones grandes con el color #276749 -->
    <button mat-button routerLink="/stations" routerLinkActive="active" id="jo">Stations</button>
    <button mat-button routerLink="/upgrade" routerLinkActive="active" id="jo">Upgrade</button>
    <button mat-icon-button id="ju">
      <mat-icon>notifications</mat-icon>
      <!--<span class="badge">1</span> -->
    </button>
    <button mat-icon-button id="ju">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  