.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3A795D;  /* Cambiado a tu color preferido */
    padding: 4rem;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Agregamos un poco de sombra */
  }
  
  .logo-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 6rem;  /* Aumentamos un poco el tamaño del logo */
    margin-right: 2rem;  /* Más separación entre el logo y el texto */
  }


  .greeting {
    font-size: 1.75rem;  /* Tamaño del texto adaptable */
    font-weight: bold;
    color: rgb(245, 245, 245);  /* Texto en blanco para mejor visibilidad */
  }
  
  .spacer {
    flex-grow: 1;  /* Permite que el espacio ocupe el resto del ancho */
  }
  
  button {
    font-size: 2.5rem;  /* Tamaño relativo del texto en los botones */
    margin-left: 8rem;  /* Espaciado entre los botones */
    color: rgb(245, 245, 245);  /* Color del texto blanco */
    background-color: #276749
  }
  
 
  
  /* OCULTAR NAVBAR EN MÓVILES */
  /* Media Query para ocultar el navbar en pantallas de menos de 768px (móviles) */
  @media (max-width: 768px) {
    .navbar {
      display: none; /* Oculta el navbar completamente en móviles */
    }
  }
  