<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Columna Fecha -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{ element.fecha }} </td>
  </ng-container>

  <!-- Columna Humedad -->
  <ng-container matColumnDef="humedad">
    <th mat-header-cell *matHeaderCellDef> Humedad (%) </th>
    <td mat-cell *matCellDef="let element"> {{ element.humedad }}% </td>
  </ng-container>

  <!-- Columna UV Solar -->
  <ng-container matColumnDef="uvSolar">
    <th mat-header-cell *matHeaderCellDef> UV Solar </th>
    <td mat-cell *matCellDef="let element"> {{ element.uvSolar }} </td>
  </ng-container>

  <!-- Columna Temperatura -->
  <ng-container matColumnDef="temperatura">
    <th mat-header-cell *matHeaderCellDef> Temperatura (°) </th>
    <td mat-cell *matCellDef="let element"> {{ element.temperatura }}° </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

