/* src/app/components/crop-plants/crop-plants.component.css */
h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}

.success-message {
  color: green;
  margin: 10px 0;
  text-align: center;
}

.error-message {
  color: red;
  margin: 10px 0;
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.plant-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.plant-card {
  width: 300px;
}

.plant-image {
  height: 200px;
  object-fit: cover;
}

.add-plant-button {
  margin-bottom: 20px;
}

.no-plants {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

/* Estilos para el botón "Activar Sensor" */
.button-active {
  background-color: green !important;
  color: white !important;
}

.button-inactive {
  background-color: red !important;
  color: white !important;
}

/* Estilos para el spinner por planta */
.example-card {
  position: relative;
}

.mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  margin-left: 5%;
}
