<mat-card class="create-user-card">
  <h2>Crear Nuevo Usuario</h2>
  <form [formGroup]="userForm" (ngSubmit)="createUser()" class="form-grid">

    <mat-form-field appearance="outline" class="custom-input">
      <mat-icon matPrefix class="animated-icon">person</mat-icon>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="firstName" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input">
      <mat-icon matPrefix class="animated-icon">person</mat-icon>
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="lastName" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input">
      <mat-icon matPrefix class="animated-icon">email</mat-icon>
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="email" required type="email">
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input">
      <mat-icon matPrefix class="animated-icon">insert_photo</mat-icon>
      <mat-label>URL de Imagen de Perfil</mat-label>
      <input matInput formControlName="profileImage" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input">
      <mat-icon matPrefix class="animated-icon">location_on</mat-icon>
      <mat-label>Calle</mat-label>
      <input matInput formControlName="street" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input">
      <mat-icon matPrefix class="animated-icon">home</mat-icon>
      <mat-label>Número</mat-label>
      <input matInput formControlName="number" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input">
      <mat-icon matPrefix class="animated-icon">location_city</mat-icon>
      <mat-label>Ciudad</mat-label>
      <input matInput formControlName="city" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input">
      <mat-icon matPrefix class="animated-icon">local_post_office</mat-icon>
      <mat-label>Código Postal</mat-label>
      <input matInput formControlName="zipCode" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input full-width">
      <mat-icon matPrefix class="animated-icon">public</mat-icon>
      <mat-label>País</mat-label>
      <input matInput formControlName="country" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid" class="full-width">Crear Usuario</button>
  </form>
</mat-card>

