.crop-plants {
  height: 80vh;
  text-align: center;
}

.plant-cards {
  padding: 50px;
  margin: 20px 10vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  border: 1px solid lightslategray;
  border-radius: 20px;
}

.plant-card {
  width: 300px;
}

.example-card {
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: #28644c;
  border-radius: 10px;
}

.plant-image {
  padding: 15px;
  width: 100%;       /* La imagen ocupará todo el ancho del contenedor */
  height: 300px;     /* Fija la altura a 200px */
  object-fit: cover; /* Mantiene la relación de aspecto y asegura que no se deforme */
  border-radius: 10px;
}

.plant-name {
  padding: 10px 10px;
  background-color: white;
  color: black;
  border-radius: 20px;
  font-weight: bold;
  margin: 20px 30px 0 30px;
}

.status-button {
  padding: 10px 5px;
  background-color: #d8645c;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  display: block;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}

.station-name {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 20px;
  font-weight: bold;
  justify-content: center;
  margin: 20px 20px 5px 20px;
  display: inline-block;
  text-align: center;
}
