<div class="confirmation-container">
  <mat-card class="confirmation-box">
    <div class="logo-container">
      <img src="assets/logo/image.png" alt="Logo" class="logo">
    </div>
    <div class="content-container">
      <mat-card-title>Recuperación de Contraseña</mat-card-title>
      <mat-card-subtitle>Verifique su correo electrónico</mat-card-subtitle>
      <mat-card-content>
        <p>
          Hemos enviado un enlace de recuperación de contraseña a su correo electrónico. Por favor, revise su bandeja de entrada y siga las instrucciones para restablecer su contraseña.
        </p>
      </mat-card-content>
    </div>
    <mat-card-actions class="actions-container">
      <button mat-raised-button color="primary" class="back-button" (click)="onGoBack()">Regresar a Inicio</button>
    </mat-card-actions>
  </mat-card>
</div>
